{% extends "layout.html" %}
{% block content %}
<table>
    <tr><td>ID</td><td>Name</td><td>Status</td><td>Details</td></tr>
    {% for todo_item, values in todo_data.items() %}
    {% if values.status != "Done" %}
        <tr><td>{{ todo_item }}</td><td>{{ values.name }}</td><td>{{ values.status }}</td><td>{{ values.details }}</td></tr>
    {% endif %}
    {% endfor %}
</table>
<!-- Need a form here in HTML-->
<form id="new_todo_sumbit" method="POST">
    New Item Name: <input type="text" name="todo_name">
    Details: <input type="text" name="todo_details">
    <input type="submit" value="Create New ToDo"><br>
</form>
{% endblock content %}